@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Energy Calculator</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to My Energy Calculator</h2>
        <p>
            My Energy Calculator is a sample application that
            enables you to calculate how much your energy costs will be
            based on time used, by appliance.
            Users and Appliances may be updated now.
        </p>
        <p><a class="btn btn-default" href="http://localhost:51362/User">Go to Users &raquo;</a>
        <a class="btn btn-default" href="http://localhost:51362/Appliance">Go to Appliances &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check out the Web API controller</h2>
        <p>
            I may need to link this to my User and Appliance database and list data from there,
            but, for now, I just have a link and some manufactured data to check that the link works.
        </p>
        <p><a class="btn btn-default" href="http://localhost:51362/api/users/getusers">Go to API &raquo;</a></p>
        </div>
        @*<div class="col-md-4">
        <h2>Check out the Web API controller</h2>
        <p>I may need to link this to my User and Appliance database and list data from there,
            but, for now, I just have a link and some manufactured data to check that the link works.</p>
        <p><a class="btn btn-default" href="http://localhost:51362/api/Students/GetStudents?json=true">Go to API &raquo;</a></p>
    </div>*@
</div>