<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1ec83350-8290-4a65-9182-a873d6969e0c/resourcegroups/CA2Test20180515091647ResourceGroup/providers/Microsoft.Web/sites/CA2MiniProject20180520092258</ResourceId>
    <ResourceGroup>CA2Test20180515091647ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ca2miniproject20180520092258.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ca2miniproject20180520092258.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CA2MiniProject20180520092258</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CA2MiniProject20180520092258</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EnergyUsedContext" Order="1" Enabled="False">
          <Destination Path="Data Source=CA2MiniProjectsrv;Initial Catalog=CA2MiniProjectDB;User ID=Lilla;Password=Azurelog-" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CA2MiniProject.DAL.EnergyUsedContext, CA2MiniProject" MigrationConfiguration="CA2MiniProject.Migrations.Configuration, CA2MiniProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EnergyUsedContext-Web.config Connection String">
      <ParameterValue>Data Source=CA2MiniProjectsrv;Initial Catalog=CA2MiniProjectDB;User ID=Lilla;Password=Azurelog-</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>